version: '3.1'

services:
  django:
    image: robodjango3.8:latest
    volumes:
      - ./django:/app/
    expose:
      - 8088
    env_file:
      - .env_app
    command: gunicorn mainapp.wsgi:application --bind 0.0.0.0:8088 --reload
    depends_on:
      - db

  db:
    image: postgres:13-alpine
    volumes:
      - ./postgresdb:/var/lib/postgresql/data/
    env_file:
      - .env_db

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

  nginx:
    restart: always
    image: nginx:1.20-alpine
    volumes:
      - ./django/static:/app/static
      - ./default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 8001:80
    depends_on:
      - django
